html{

    --primary-colour: #ef476f;
    --secondary-colour: #FFD166;
    --tertiary-colour: #ffda83;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: inline;
}

#hero-banner{
    position: absolute;
    width: 100%;
    height: 474px;
    background-color: var(--primary-colour);
    background-image: url("assets/background-portfolio.png");
    background-size: 120px 120px;
    background-position: 0 40px;
}

#nav-buttons{
    position: relative;
    background-color: none;
    display: grid;
    grid-template-columns: 70% auto auto auto auto;
    width: 100%;
    height: 50px;
    align-items: center;
}

#nav-buttons a{
    width: 80px;
    text-align: center;
}

#action-button{
    position: relative;
    top: 60%;
    left: 5%;
    width: 100px;
}

@keyframes enlarge {
    from{

    }

    to{
        transform: scale(1.05);
    }
}

#action-button .button{
    background-color: var(--secondary-colour);
    border-radius: 5px;
    font-size: 18px;
    padding: 12px 25px;
    color: black;
    box-shadow: 
    0 2.8px 3px rgba(0, 0, 0, 0.014),
    0 6.7px 5.3px rgba(0, 0, 0, 0.02),
    0 12.5px 10px rgba(0, 0, 0, 0.025),
    0 22.3px 17.9px rgba(0, 0, 0, 0.03),
    0 41.8px 33px rgba(0, 0, 0, 0.036),
    0 100px 80px rgba(0, 0, 0, 0.05)
    ;
}

#action-button:hover{
    animation-name: enlarge;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.button{
    text-decoration: none;
    background-color: none;
    color: white;
}

#about-me{
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    top: 474px;
    background-color: var(--tertiary-colour);
    width: 100%;
    height: 700px;
}

.text{
    padding: 15px;
    background-color: white;
}

#resume{
    position: absolute;
    top: 1172px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    background-color: var(--primary-colour);
    height: 700px;
}

#portfolio{
    position: absolute;
    top: 1872px;
    padding: 5px;
    width: 99.3%;
    text-align: center;
    background-color: var(--tertiary-colour);
}

#carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes bob {
    0% {
        transform: translateY(0)
    ;
    }

    50%{
        transform: translateY(-10px);
        
    }

    to{
        transform: translateY(0)
    ;
    }
}

.card{
    border-radius: 2px;
    margin: 15px;
    margin-right: 50px;
    background-color: var(--secondary-colour);
    height: 400px;
    box-shadow: 
    0 2.8px 3px rgba(0, 0, 0, 0.014),
    0 6.7px 5.3px rgba(0, 0, 0, 0.02),
    0 12.5px 10px rgba(0, 0, 0, 0.025),
    0 22.3px 17.9px rgba(0, 0, 0, 0.03),
    0 41.8px 33px rgba(0, 0, 0, 0.036),
    0 100px 80px rgba(0, 0, 0, 0.05)
    ;
    cursor: pointer;
}

.card:hover{
    animation-duration: 1s;
    animation-name: bob;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#carousel img{
    height: 250px;
    width: auto;
}

.card-title, .card-description{
    padding-left: 15px;
    text-align: left;
}

#socials{
    position: absolute;
    top: 2900px;
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    width: 100%;
    text-align: center;
}

#socials .icon{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 5px;
}

#socials a{
    text-decoration: none;
    color: black;
}

#mobile-nav-buttons{
    display: none;
}

@media screen and (max-width: 1200px) {

    .slide-show{
        height: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .slide{
        height: 100%;
        display: flex;
    }

    #hero-banner{
        height: 100%;
        position: static;
    }

    #nav-buttons{
        display: none;
    }

    #mobile-nav-buttons{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 5000;
        right: 0;
        background-color: black;
        padding: 5px;
        height: 100%;
        justify-content: center;
    }

    #action-button{
        position: relative;
        left: 8%;
        top: 80%;
    }

    .mnav{
        height: 20px;
        width: 20px;
        border-radius: 15px;
        border: 5px solid white;
        margin-top: 10px;
    }

    .mnav:hover{
        background-color: white;
    }

    #about-me{
        position: static;
        height: 1500px;
    }

    #resume{
        position: static;
    }

    #socials{
        position: static;
    }

    #portfolio{
        position: static;
    }
}