body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: inline;
}

#hero-banner{
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: #EF476F;
}

#nav-buttons{
    position: relative;
    background-color: none;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 70% auto auto auto auto;
    left: 15px;
    width: 99%;
}

#nav-buttons a{
    width: 80px;
    text-align: center;
}

#action-button{
    position: relative;
    top: 60%;
    left: 5%;
    width: 100px;
}

#action-button .button{
    background-color: #FFD166;
    border-radius: 5px;
    font-size: 18px;
    padding: 12px 25px;
    color: black;
}

.button{
    text-decoration: none;
    background-color: none;
    color: white;
}

#about-me{
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    top: 60%;
    background-color: #ffda83;
    width: 100%;
    height: 50%;
}

.text{
    padding: 15px;
}

#resume{
    position: absolute;
    top: 110%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 99%;
    height: 600px;
}

#portfolio{
    position: absolute;
    top: 150%;
    padding: 5px;
    width: 99.3%;
    text-align: center;
    background-color: #ffda83;
}

#carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes enlarge {
    from {
        box-shadow: 
        0 2.8px 3px rgba(0, 0, 0, 0.014),
        0 6.7px 5.3px rgba(0, 0, 0, 0.02),
        0 12.5px 10px rgba(0, 0, 0, 0.025),
        0 22.3px 17.9px rgba(0, 0, 0, 0.03),
        0 41.8px 33px rgba(0, 0, 0, 0.036),
        0 100px 80px rgba(0, 0, 0, 0.05)
    ;
    }

    to{
        transform: scale(1.05);
        box-shadow: 
    0 2.8px 3px rgba(0, 0, 0, 0.048),
    0 6.7px 5.3px rgba(0, 0, 0, 0.069),
    0 12.5px 10px rgba(0, 0, 0, 0.085),
    0 22.3px 17.9px rgba(0, 0, 0, 0.103),
    0 41.8px 33px rgba(0, 0, 0, 0.122),
    0 100px 80px rgba(0, 0, 0, 0.17)
    ;
    }
}

.card{
    border-radius: 2px;
    margin: 15px;
    margin-right: 50px;
    background-color: #FFD166;
    height: 400px;
    box-shadow: 
    0 2.8px 3px rgba(0, 0, 0, 0.014),
    0 6.7px 5.3px rgba(0, 0, 0, 0.02),
    0 12.5px 10px rgba(0, 0, 0, 0.025),
    0 22.3px 17.9px rgba(0, 0, 0, 0.03),
    0 41.8px 33px rgba(0, 0, 0, 0.036),
    0 100px 80px rgba(0, 0, 0, 0.05)
    ;
    cursor: pointer;
}

.card:hover{
    animation-duration: 0.1s;
    animation-name: enlarge;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#carousel img{
    height: 250px;
    width: auto;
}

.card-title, .card-description{
    padding-left: 15px;
    text-align: left;
}

#socials{
    visibility: hidden;
    position: absolute;
    top: 1700px;
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    width: 99%;
    text-align: center;
}

#socials .icon{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 5px;
}

#socials a{
    text-decoration: none;
    color: black;
}